html 
{
background-color: #89CFF0; 
}

h1
{
font-weight: bold;}

img
 {
  height: 160px;
  border: 2px white;
     margin-top: 5em;
    border-radius: 5px;
}

h2
{
 fontsize 20px;
}

 body
{
 overflow: auto;
 text-align: center;
font-size: 22px; 
}

.oo
{
  padding-top: 10px;
}
