html 
{
background-color: darkblue
}

p
{fontsize 16px
font-family: "serif"
}

body
{text-align: center}

h1
{
font-weight: bold}

li
{
color: pink
}

img
 {height: 200px
 border: solid}

 
