html https://github.com/stuycs-gh-classrooms/09-web-Rubyv7/blob/main/w06_style.css
{
background-color: deepskyblue
}

p
{fontsize 16px;
font-family: "serif"
}

body
{text-align: center;}

h1
{
font-weight: bold;}

li
{
color: deeppink;
}

img
 {
  height: 250px;
border: 3px solid white;
}

 
