html 
{
background-color: deepskyblue
}

p
{fontsize 16px;
font-family: "serif"
}

body
{text-align: center;
background-color: red;}

h1
{
font-weight: bold;}

li
{
color: deeppink;
}

img
 {
  height: 250px;
border: 3px solid white;
}

 
