html 
{
background-color: #03396c 
}
nav {
  border-bottom: 1px solid black;
   border-top: 1px solid black;
}

.crumb {
  display: inline-block;
}


p
{fontsize 16px;
font-family: "serif"
}

body
{text-align: center;
font-size: 22px;
}

 .ee
 {  border-radius: 10px;
  background-color: #D2042D ;
 border:1px solid black;
   width: 45em;
 height: 20em;
  margin-top: 3em;
  margin-left: 20em; 
}

a
 {
color: black;
 text-decoration: none}

 .crumbs a:hover {
  background-color: rgb(66 28 40);
  color: #fff;
}
.crumb {
  background-color: #D2042D;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
}

h1
{
font-weight: bold;}

li
{
color:  blue
}

img
 {
  height: 250px;
border: 3px solid white;
}


