html 
{
background-color: #03396c 
}
nav {
  border-bottom: 1px solid black;
   border-top: 1px solid black;
}

.crumb {
  display: inline-block;
}


p
{fontsize 16px;
font-family: "serif"
}

body
{text-align: center;
font-size: 22px;
}

 .ee
 {  border-radius: 10px;
  background-color: #D2042D ;
 border:1.5px solid black;
   width: 45em;
 height: 20em;
  margin-top: 2em;
  margin-left: 20em; 
}

a
 {
color: black;
 text-decoration: none}

 .crumbs a:hover {
  background-color: #8B0000;
  color: #000000;
}
.crumb {
  background-color: #D2042D;
  /* color: #fff; */
  text-decoration: none;
  padding: .5em 1em;
}

h1
{
font-weight: bold;}

li
{
color:  blue
}

img
 {
  height: 250px;
border: 2px solid black;
     float:left;
}


