html 
{
background-color: #03396c; 
}
nav {
  border-bottom: 1px solid black;
   border-top: 1px solid black;
}

.crumb {
  display: inline-block;
}

.all
{
display: flex;
}
p
{fontsize 16px;
font-family: "serif"
}

 .woo
{
  display: flex;
  width: 13em;
  overflow: auto; 
}
body
{ overflow: auto;
 text-align: center;
font-size: 22px; 
}

 .ee
 {  border-radius: 10px;
  background-color: #D2042D ;
 border:1.5px solid black;
   width: 50em;
 height: 20em;
  margin-left: 5em; 
}

a
 {
color: black;
 text-decoration: none}

 .crumbs a:hover {
  background-color: #8B0000;
  color: #000000;
}
.crumb {
  background-color: #D2042D;
  text-decoration: none;
  padding: .5em 1em;
}

h1
{
font-weight: bold;}

li
{
color: black
}

img
 {
  height: 250px;
border: 2px solid black;
     float:right;
     margin-top: 5.1em;
    border-radius: 10px;
}


